parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - tests/Fixtures (?)
    tmpDir: .phpstan
    ignoreErrors:
        -
            identifier: missingType.iterableValue
    treatPhpDocTypesAsCertain: false
